<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/mcms/logs/server.log"/>
        <param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n"/>
        </layout>
    </appender>


    <category name="org.apache.commons.digester.Digester">
        <level value="ERROR"/>
    </category>

    <category name="org.springframewrok">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.SQL">
        <level value="DEBUG"/>
    </category>

    <category name="org.hibernate.type">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.tool.hbm2ddl">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.pretty">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.cache">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.transaction">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.jdbc">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.hql.ast.AST">
        <level value="INFO"/>
    </category>

    <category name="org.hibernate.secure">
        <level value="INFO"/>
    </category>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <!-- 		<appender-ref ref="fileAppender" /> -->
    </root>

</log4j:configuration>